:root {
  --tooltip-color: rgb(250, 250, 68);
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card {
  border-top: 1px solid rgba(0,0,0, 0.25);
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card > ul {
  width: 400px;
  text-align: left;
}

.card > label {
  display: block;
  margin-top: 80px;
}

.tooltip-container {
  position: relative;
}

.tooltip {
  position: absolute;
  background: var(--tooltip-color);
  border-radius: 2%;
  padding: 5px;
  margin: 0px;
  word-break: break-word;
}

.tooltip.top::after {
  content: "";
  top: 100%;
  left: 50%;
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid var(--tooltip-color);
}

.tooltip.bottom::after {
  content: "";
  bottom: 100%;
  left: 50%;
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid var(--tooltip-color);
}

.tooltip.left::after {
  content: "";
  top: 0%;
  left: 100%;
  position: absolute;
  border-top: 10px solid var(--tooltip-color);
  border-right: 10px solid transparent;
}

.tooltip.right::after {
  content: "";
  top: 0%;
  right: 100%;
  position: absolute;
  border-top: 10px solid var(--tooltip-color);
  border-left: 10px solid transparent;
}


.top {
  bottom: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%)
}

.bottom {
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%)
}

.left {
  right: calc(100% + 10px);
}

.right {
  left: calc(100% + 10px);
}

.fade {
  transition: opacity 0.3s
}

.fade.out {
  opacity: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
